*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-size: 14px;
    font-weight: 400;
}
.container{
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.section{
    width: 100%;
    float: top;
    height: 500px;
    background-image: url("https://www.teahub.io/photos/full/237-2376520_twitter-header-wallpapers-minimalist-dual-monitor-wallpaper-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
}
.logo{
    float: left;
    width: 20%;
    margin-left: 200px;
    margin-top: 50px ;
}
.logo a{
    font-family: Roboto;
    font-weight: 400;
    font-size: 55px;
    font-synthesis: weight;
    text-decoration: none;
    color: white;
}
.toplinks{
    float: left;
    margin-left:600px;
    margin-top: -100px;
    width:40%;
}
.toplinks ul{
    list-style-type: none;
    float: left;

}
.toplinks li{
    float: right ;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
}
.toplinks a{
   text-align: left;
    text-decoration: none;
    text-transform: none;
    color: white;
}
.icon{
    width: 20%;
    float: right;
    margin-top: -100px;
    margin-right: 60px;
}
.icon a{
    text-align: left;
    padding: 10px;
}
.content{
    float: left;
    margin-top: 50px;
    margin-left: 400px;
}
h1{
    text-align: center;
    font-weight:300;
    font-size: 60px;
    color: white;
}
.content p{
    font-size: 30px;
    text-align: center;
    color: white;
}
.read{
    float: left;
   width: 100px;
    height: 30px;
    margin-top: 20px;
margin-left: 370px;
}
.read h2{
    position: relative;
    padding: 3px;
    text-align: center;
     width: 100px;
    height: 30px;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
}
.bottom{
    margin-left: 230px;
    margin-top: 30px;
    width: 80%;
}
.bt{
    float: left;
    width: 25%;
    height: 350px;
    background-color: snow;
    margin-block-end: 20px;
    margin: 30px ;
}
.bt p{
    font-size: 16px;
    }
.img{
    width:100%;
    height: 50%;
}
.rm{
    margin-top: 10px;
    position: relative;
    width: 70px;
    border: 2px solid black;
}
.od {
    float: left;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    margin-top: 120px;
    margin-left: -250px;
    border-radius: 10px;
    background-color:snow;
}
.od a {
    top:3px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    color: #444444;
}
.nav{
    float: left;
    height: 250px;
    width: 100%;
    margin-top: 250px;
    background-color: #aabbcc;
}
.bticon{
    float: left;
    margin-left: 570px;
}
.nav a img{
    margin-top: 20px;
    height: 20px;
    width: 20px;
}
.bticon a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    position: relative;
    margin: 3px;
}
hr{
    color: #222222;
}
.btmenu{
    margin-top: 50px;
    float: left;
    margin-left:510px;
}

.btmenu li{
    float: left;
    text-align: left;
    list-style-type: none;
}
.btmenu a{
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
hr{
    width: 80%;
    float: top;
    color: black;
    margin-top: 90px;
    margin-left: 120px;
}

