body{
    width:  1500px;
    font-weight: 400;
    font-size: 14px;
}
.top {
    width: 1500px;
    height: 80px;
    float:left;
    text-align: center ;
    background-color: #aabbcc;
    padding: 50px 0;
}
.right{
    margin-top: 30px;
    float:right;
    width: 1100px;
    font-size: 25px;
}
.left{
    padding: 50px;
    float: left;
    width: 200px;
    margin-left: 30px;
    margin-top: -150px;
    background-color: aliceblue;
}
.bottom{
    margin-left: -5px;
    float: left;
    width: 150xp;
    text-align: left;
    font-size: 20px;
}

h2{

    font-size: 40px;
    font-weight:700;
}
h1{
    font-size: 30px;
    font-weight:700;
    text-align: center;
    margin-top: -30px;
}
.icon{
    height: 30px;
    width: 30px;
}
.bottom h2{
    font-size: 30px;
    text-align: center;
}
.dow{
    text-align: center  ;
}